<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>square</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.67</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.66</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.66</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.17</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.17</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.34</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.34</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.34</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.505</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.505</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.67</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.67</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.67</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.835</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.835</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
		</array>
	</array>
	<key>portrait</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.75</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.165</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.75</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.495</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.75</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.83</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.165</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.165</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<integer>1</integer>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.83</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.83</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.165</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.165</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.495</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.495</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.165</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.83</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.83</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.17</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.66</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.34</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.44</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.34</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.22</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.34</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.22</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5600000000000001</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.22</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.5600000000000001</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.22</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.78</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.22</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<real>0.78</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.22</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<real>0.78</real>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.22</real>
			</dict>
		</array>
	</array>
	<key>landscape</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.165</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.75</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.835</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.75</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.75</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.17</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.17</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.835</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.835</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.165</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.165</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.17</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.17</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.835</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.835</real>
				<key>y</key>
				<real>0.25</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.165</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.165</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.165</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.17</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.5</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.17</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.223</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.223</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.447</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.75</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.223</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.223</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.223</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.446</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.223</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.223</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67</real>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.223</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.223</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.446</real>
				<key>y</key>
				<real>0.75</real>
				<key>w</key>
				<real>0.223</real>
				<key>h</key>
				<real>0.25</real>
			</dict>
		</array>
	</array>
	<key>mugs</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.5</real>
				<key>h</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.75</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.25</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.551</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.551</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.449</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.449</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.449</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.551</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.256</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.256</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.256</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.513</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.487</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.256</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.256</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.256</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.513</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.487</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.385</real>
				<key>h</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<real>0.385</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.23</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.615</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.385</real>
				<key>h</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<real>0.385</real>
				<key>y</key>
				<real>0.33</real>
				<key>w</key>
				<real>0.23</real>
				<key>h</key>
				<real>0.33</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.385</real>
				<key>y</key>
				<real>0.66</real>
				<key>w</key>
				<real>0.23</real>
				<key>h</key>
				<real>0.34</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.33</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.33</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.66</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.66</real>
				<key>y</key>
				<real>0.5</real>
				<key>w</key>
				<real>0.34</real>
				<key>h</key>
				<real>0.5</real>
			</dict>
		</array>
	</array>
</dict>
</plist>
